<h1 class="h1">Buscaminas</h1>
<div class="board">
  <div *ngFor="let row of board; let r = index" class="row">
    <div
      *ngFor="let cell of row; let c = index"
      class="cell"
      [class.revealed]="cell.isRevealed"
      (click)="revealCell(r, c)"
      (contextmenu)="placeFlag($event, r, c)"
    >
      <span *ngIf="cell.isFlagged" class="flag">🚩</span>
      <ng-container *ngIf="cell.isRevealed">
        <ng-container *ngIf="cell.isMine">💣</ng-container>
        <ng-container *ngIf="!cell.isMine">
          <span class="textSizeMines">{{
            cell.neighborMines
          }}</span></ng-container
        >
      </ng-container>
    </div>
  </div>
</div>
